.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}

.container{
    margin: auto;
    width: 33.33%;
    color: #000000;
}

.Credits {
    text-align: center;
}