/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 15%;
    padding: 31px;
    border: #282c34;
}

/* Clear floats after the columns */
.row:after {
    display: block;
    clear: both;
}

h2 {
    color: whitesmoke;
}

.Script {
    color: whitesmoke;
    text-align: center;
}

.MainHeader {
    font-size: xx-large;
}

.button {
    color: whitesmoke;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    width: 100%;
    background: initial;
}

.CenterMe {
    display: table;
    text-align: center;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    background: transparent;
    width: 100%;
}

.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width: 30em) {
     .button1 {
        display: block;
        margin: 0.4em auto;
    }
}